---
layout: default
---
{%- if page.title or page.splash_title -%}
    <div class="shadow py-5 text-center page-title">
        <div class="d-flex flex-column container col-xl-6 col-lg-7 col-md-8 col-12 py-md-3 py-0">
            <h1 class="d-inline-block">
                {%- if page.splash_title -%}
                    {%- assign title = page.splash_title -%}
                {%- else -%}
                    {%- assign title = page.title -%}
                {%- endif -%}
                {{- title | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates -}}
            </h1>
            {%- if page.cta -%}
				{%- if page.cta2 -%}
					<div class="btn-group flex-grow-0 align-items-center justify-content-center">
						{% if page.cta.link and page.cta.title %}
							<a href="{{ page.cta.link }}" class="mt-3 flex-grow-0 btn btn-lg btn-light text-dark" title="{{- page.cta.title | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }}">{{ page.cta.text | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }} &rarr;</a>
						{% else %}
							<a class="mt-3 btn btn-lg btn-outline-light disabled">{{ page.cta.text }}</a>
						{% endif %}
						{% if page.cta2.link and page.cta2.title %}
							<a href="{{ page.cta2.link }}" class="border-start mt-3 flex-grow-0 btn btn-lg btn-light text-dark" title="{{- page.cta2.title | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }}">{{ page.cta2.text | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }} &rarr;</a>
						{% else %}
							<a class="mt-3 btn btn-lg btn-outline-light disabled">{{ page.cta2.text }}</a>
						{% endif %}

					</div>
				{%- else -%}
					{% if page.cta.link and page.cta.title %}
						<div class="flex-grow-0">
							<a href="{{ page.cta.link }}" class="mt-3 btn btn-lg btn-light text-dark" title="{{- page.cta.title | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }}">{{ page.cta.text | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }} &rarr;</a>
						</div>
					{% else %}
						<div class="flex-grow-0">
							<a class="mt-3 btn btn-lg btn-outline-light disabled">{{ page.cta.text }}</a>
						</div>
					{% endif %}
				{%- endif -%}
            {%- endif -%}
        </div>
    </div>
{%- endif -%}


<section>
	<article class="container-fluid p-0	">
	   {{- content -}}
	</article>
</section>